/* Default Styles */

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #092047;
}

main h1 {
    font-size: 2em;
}

article {
    display: flex;
}

article h1 {
    font-size: 2em;
}

section {
    display: flex;
}

/* Header Styles */

.home-header {
    /* Background Image */
    background: url(/images/night-city.jpg);
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    display: inline-flex;
}

/* Motto For Webste */
.motto {
    color: #b7c1de;
    padding-left: 10rem;
    padding-top: 10rem;
}

.motto h1 {
    font-size: 72px;
}

.motto h2 {
    font-size: 32px;
}

/* Nav Section */
/* Implemented Interactive and Hoverable Navbar */
#navbar {
    background-color: black;
    display: flex;
    padding: 5px;
}

#navbar .logo {
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    padding: 1rem;
    color: #0b46c8;
}

#navbar .logo h1 {
    margin: auto 0;
}

#navbar a {
    display: block;
    color: #0b46c8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar li {
    display: flex;
    float: left;
    justify-content: right;
    color: #0b46c8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #0b46c8;
    color: black;
}

#navbar a.active {
    color: #0b46c8;
}

/* Sections */

/* Sections are clumped together due to different padding which affects website plaement */
.intro-section,
.featured-section,
.project-section,
.resume-section,
.about-section {
    display: flex;
    padding: 0 20%;
}

.intro-content,
.featured-content,
.project-content,
.resume-content,
.about-content {
    flex-basis: 100%;
    flex-wrap: wrap;
}

/* Section Container */
.section-container {
    display: flex;
    padding: 1rem;
}

/* Intro Section */
.intro-item {
    flex: 0 0 auto;
    margin: 1rem;
    flex-basis: 100%;
    text-align: start;
    color: #b7c1de;
}

.intro-item-header {
    flex: 0 0 auto;
    margin: 1rem;
    flex: 100%;
    color: #b7c1de;
    border-bottom: 4px solid #0b46c8;
}

/* Features Section */
.featured-item {
    flex: 0 0 auto;
    margin: 1rem;
    flex: 100%;
    background-color: black;
    color: #b7c1de;
    text-align: center;
}

.featured-item a {
    text-decoration: none;
    color: #0b46c8;
}

.featured-item-header {
    flex: 0 0 auto;
    margin: 1rem;
    flex: 100%;
    color: #b7c1de;
    border-bottom: 4px solid #0b46c8;
}


/* Project Section */
.project-item {
    flex: 0 0 auto;
    margin: 1rem;
    flex: 100%;
    height: 5em;
    color: #b7c1de;
    text-align: center;
}

.project-link-item a {
    text-decoration: none;
    color: #0b46c8;
}

.project-link-item {
    flex: 0 0 auto;
    margin: 1rem;
    flex: 100%;
    height: 5em;
    background-color: black;
    color: #b7c1de;
    text-align: center;
}

.project-item-header {
    flex: 0 0 auto;
    margin: 1rem;
    color: #b7c1de;
    flex: 100%;
    border-bottom: 4px solid #0b46c8;
}

/* About Section */
.about-item {
    flex: 0 0 auto;
    margin: 1rem;
    flex-basis: 100%;
    text-align: start;
    color: #b7c1de;
}

.about-item img {
    height: 37rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.about-item-title {
    color: #b7c1de;
    font-size: 2rem;
    text-align: center;
    flex-basis: 100%;
}

.about-link-item {
    flex: 0 0 auto;
    margin: 1rem;
    flex: 100%;
    height: 20em;
    background-color: black;
    color: #b7c1de;
}

.about-item-header {
    flex: 0 0 auto;
    margin: 1rem;
    color: #b7c1de;
    flex: 100%;
    border-bottom: 4px solid #63345e;
}

/* Resume Section */
.resume-item {
    flex: 0 0 auto;
    margin: 1rem;
    flex-basis: 100%;
    color: #b7c1de;
    border-bottom: 4px solid #0b46c8;
}

.resume-item ul {
    list-style-type: none;
    padding-left: 0;
    font-weight: bolder;
}

.resume-item p {
    font-weight: bolder;
}

.resume-item-title {
    color: #b7c1de;
    font-size: 2rem;
    text-align: center;
    flex-basis: 100%;
}

.resume-item-header {
    flex: 0 0 auto;
    margin: 1rem;
    color: #b7c1de;
    flex: 100%;
    border-bottom: 4px solid #63345e;
    text-align: center;
}

/* Footer Section */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-item {
    flex: 100%;
    text-align: center;
    padding: 2rem;

    background-color: black;
    color: #0b46c8;
}

.footer-item i {
    font-size: 3rem;
    padding: 1rem;
}

.footer-item-line {
    padding: 0.25rem;
    flex: 0 0 auto;
    flex: 100%;
    color: #0b46c8;
}

.footer-copyright {
    flex: 0 0 auto;
    flex: 100%;
    text-align: center;
    padding: 2px;
    font-size: 1rem;

    background-color: black;
    color: #0b46c8;
}

/* Icons Styles*/

.fl-fl {
    background: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -160px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.fa {
    font-size: 20px;
    color: #0b46c8;
    padding: 10px 0;
    width: 40px;
    margin-left: 8px;
}

.fl-fl:hover {
    right: 0;
}

.fl-fl a {
    color: #0b46c8 !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px !important;
    vertical-align: top !important;
}

.float-fb {
    top: 160px;
}

.float-tw {
    top: 215px;
}

.float-gp {
    top: 270px;
}

.float-rs {
    top: 325px;
}

.float-ig {
    top: 380px;
}

.float-pn {
    top: 435px;
}